
:root {
    --c-1: #f5f5f5;   
    --c-2: #f0f0f0;   
    --c-3: #e0e0e0;   
    --c-4: #cccccc;   
    --c-5: #b8b8b8;   
    --c-6: #a3a3a3;   
    --c-7: #8f8f8f;   
    --c-8: #7A7A7A;   
    --c-9: #666666;   
    --c-10: #525252;   
    --c-11: #3D3D3D;   
    --c-12: #292929;   
    --c-13: #141414;

    --green: #6AB708;
    --g2: #B629F8;
}

