#header {
    width: calc(100% - 40px);
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 40px auto;
}

.menu {
    display: flex;
    align-items: center;
}

.menu ul {
    display: flex;
    gap: 40px;
}




